[Unit]
Description=Microservice Container
After=docker.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/docker run --rm --name=microservice -p 8080:8080 -v /opt/microservice:/app microservice:latest
ExecStop=/usr/bin/docker stop microservice

[Install]
WantedBy=multi-user.target
